#errorCatcher Echo
## Template file for providing data to wxgraphic_6.3
## Original source at wayback machine - archive.org
## https://web.archive.org/web/20130123181502/http://scripts.anolecomputer.com/download.shtml
## Also at Saratoga-Weather.org
## https://saratoga-weather.org/wxtemplates/plugins.php
## Based on template file for Weather Link as per instructions
## at http://www.australiawx.net/instructions.php
## and template file at http://www.australiawx.net/WXG_stickertags.txt
## Trends based on time_delta in skin.conf
## Assuming wind10Avg and windAvg10 are similar and using windSpeed
## which is usually an average of some kind.
## Using Barometer trend words found in Davis VP Manual
## http://www.davisnet.com/product_documents/weather/manuals/07395-234_IM_06312.pdf
## Localisations have been attempted for worldwide use
## Original weewx template from Responsive skin at
## https://github.com/weewx/weewx/wiki/responsive (WL_stickertags.txt.tmpl)
## Check with your local mesonet
##
## Modified by Glenn McKechnie - 26/09/2022 to work with wxgraphic
## wxgraphics will apparently use clientraw.txt files if so configured.
## This file is the VWS format, not all fields are present, but careful editing
## will include them, if you have valid entries to display
##    time,date,temp,heatindex,wind chill,humidity,dew point,barometer,
##    barometer trend,wind speed,wind direction,todays rain,
##    (currentconditions,sunrise,sunset) are optional
#set $blank = ""
#set $WXG_TIME = $current.dateTime.format("%X")
#set $WXG_DATE = $current.dateTime.format("%x")
#set $WXG_OUTTEMP = $current.outTemp.nolabel("%.1f","")
#if $current.appTemp.has_data
#set $WXG_HEATAPPTEMP = $current.appTemp.nolabel("%.1f","")
#else
#set $WXG_HEATAPPTEMP = $current.heatindex.nolabel("%.1f","")
#end if
#if $current.appTemp.has_data
#set $WXG_CHILLAPPTEMP = $current.appTemp.nolabel("%.1f","")
#else
#set $WXG_CHILLAPPTEMP = $current.windchill.nolabel("%.1f","")
#end if
#set $WXG_OUTHUM = $current.outHumidity.nolabel("%.1f","")
#set $WXG_DEWP = $current.dewpoint.nolabel("%.1f","")
#set $WXG_BAROM = $current.barometer.nolabel("%.1f","")
#if $trend.barometer.raw is not None
    #set $WXG_BAROM_TREND = $trend.barometer.hPa.raw
   #if $WXG_BAROM_TREND >= 2.0
    #set $WXG_BAROM_TREND_TXT = "Rising Rapidly"
   #else if $WXG_BAROM_TREND >= 0.7
    #set $WXG_BAROM_TREND_TXT = "Rising Slowly"
   #else if $WXG_BAROM_TREND <= -2.0
    #set $WXG_BAROM_TREND_TXT = "Falling Rapidly"
   #else if $WXG_BAROM_TREND <= -0.7
    #set $WXG_BAROM_TREND_TXT = "Falling Slowly"
   #else
    #set $WXG_BAROM_TREND_TXT = "Steady"
   #end if
#else
 #set $WXG_BAROM_TREND_TXT = ""
#end if
#set $WXG_WIND = $current.windSpeed.nolabel("%.1f","")
##set $WXG_WINDDIR = $current.windDir.ordinal_compass.replace("N/A","CALM")
#set $WXG_WINDGUST = $current.windGust.nolabel("%.1f","")
#set $WXG_WINDDIR = $current.windDir.ordinal_compass.replace("CALM","N")
#set $WXG_DAYRAIN = $day.rain.sum.nolabel("%.1f","")
#set $WXG_SUNRISE = $almanac.sun.rise.format("%H:%M:%S")
#set $WXG_SUNSET = $almanac.sun.set.format("%H:%M:%S")
##
##<!--stationTime-->,<!--stationDate-->,<!--outsideTemp-->,<!--outsideHeatIndex-->,<!--windChill-->,<!--outsideHumidity-->,
##        1                  2                   3                    4                   5                   6
##<!--outsideDewPt-->,<!--barometer-->,<!--BarTrend-->,<!--wind10Avg-->,<!--windDirection-->,<!--dailyRain-->,<!--blank-->,
##         7                  8               9                10                11                  12       13
##<!--sunriseTime-->,<!--sunsetTime-->,<!--windAvg10-->,<!--windHigh10-->,<!--tempUnit-->|<!--windUnit-->|<!--barUnit-->|<!--rainUnit-->
##        14                15                16               17               18               19             20             21
##1      2        3           4                5                6          7        8         9                   10       11          12        13      14          15         16  17  18-21
$WXG_TIME,$WXG_DATE,$WXG_OUTTEMP,$WXG_HEATAPPTEMP,$WXG_CHILLAPPTEMP,$WXG_OUTHUM,$WXG_DEWP,$WXG_BAROM,$WXG_BAROM_TREND_TXT,$WXG_WIND,$WXG_WINDDIR,$WXG_DAYRAIN,$WXG_WINDGUST,$blank,$WXG_SUNRISE,$WXG_SUNSET
